/* OrderPage.css */

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 378px;
}

.image-container {
  flex: 1;
  max-width: 40%;
  margin-right: 20px;
  overflow: hidden; /* Menambahkan overflow: hidden agar konten tidak terpotong */
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-description {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Menambahkan overflow: hidden agar konten tidak terpotong */
}

/* Tambahkan gaya untuk form inputan agar tidak terpotong */
.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 8px;
}

.info-box-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap; /* Tambahkan flex-wrap agar box-baris tidak memenuhi lebar container */
  gap: 10px; /* Tambahkan gap agar ada jarak antara info box */
}

.info-box {
  flex: 0 0 calc(33.33% - 10px); /* Buat info box menjadi sekitar 33.33% lebar container, dikurangi dengan gap */
  box-sizing: border-box; /* Tambahkan agar padding tidak mempengaruhi lebar total */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-box:hover {
  background-color: #f0f0f0;
}

.info-box.selected {
  background-color: #6990fa;
  color: #fff;
}

/* .payment-method-container {
  margin-top: 20px;
}

.payment-method-container label {
  display: block;
  margin-bottom: 10px;
} */

.top-up-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4c78f1;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  color: black;
  border: 1px solid blue;
  background-color: #f9f9f9;
}
